select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' data-prefix='fas' data-icon='chevron-down' class='svg-inline--fa fa-chevron-down fa-w-14' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M207.03 381.48L12.69 187.13a24 24 0 010-33.94l22.66-22.67a24 24 0 0133.9-.04L224 284.51l154.75-154.03a24 24 0 0133.9.04l22.66 22.67a24 24 0 010 33.94L240.97 381.48a24 24 0 01-33.94 0z'/%3E%3C/svg%3E");
}

.select2-container--default .select2-selection--multiple {
    border-radius: unset;
    border: 1px solid #dedede !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1ab394;
    border: #1ab394;
    border-radius: 3px;
    cursor: default;
    float: left;
    margin-right: 4px;
    margin-top: 4px;
    padding: 2px 5px 2px 5px;
    color: #ffffff;
    font-size: 13px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
    font-size: 15px;
}

.select2-container--open .select2-dropdown--below {
    border-color: #dedede;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #1ab394;
    color: #ffffff;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 7px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-top: 9px;
    margin-right: unset;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding-top: 1px;
}


@media (max-width: 768px) {
    .select2-container .select2-search--inline .select2-search__field{
         margin-top: unset;
    }
}