<style type="text/css">
    .ibox-title {
        border-top: none;
        background-color: #ABD0E0;
        color: #252222;
        font-weight: bold;
    }

    #log-table > tbody > tr > td.log-diff_container > div > div.ibox-title > div > a > i {
        color: #252222;
    }

    .ibox {
        margin-bottom: 0px;
    }
</style>


<div class="ibox">
        <div class="collapse-link log-diff_toggle ibox-title pointer">
            <span>Dados</span>
            <div class="ibox-tools">
                <i class="fa fa-chevron-down"></i>
            </div>
        </div>

    <div class="ibox-content" style="display: none; padding: 0">
        <table class="table">
            <thead>
            {{thead}}
            </thead>
            <tbody>
            {{tbody}}
            </tbody>
        </table>
    </div>
</div>