@media (min-width: 768px) {
    .btn-save,
    .btn-save-outline {
        max-width: 245px;
    }

    .btn-save-and-back,
    .btn-save-and-back-outline {
        max-width: 210px;
    }

    .btn-delete,
    .btn-delete-outline {
        max-width: 85px;
        margin-right: 8px;
    }

    .btn-generic-action,
    .btn-generic-action-outline {
        max-width: 125px;
    }
}

.btn-new {
    color: #ffffff;
    background-color: #1bb394;
    border-color: transparent;
}

.btn-new-outline {
    color: #1bb394;
    background-color: transparent;
    border-color: #1bb394;
}

.btn-new:hover {
    color: #ffffff;
    background-color: #0f6050;
    border-color: transparent;
}

.btn-new-outline:hover {
    color: #ffffff;
    background-color: #1bb394;
    border-color: transparent;
}

.btn-filter {
    color: #ffffff;
    background-color: #0090d2;
    border-color: transparent;
}

.btn-filter-outline {
    color: #0090d2;
    background-color: transparent;
    border-color: #0090d2;
}

.btn-filter:hover {
    color: #ffffff;
    background-color: #035880;
    border-color: transparent;
}

.btn-filter-outline:hover {
    color: #0090d2;
    background-color: transparent;
    border-color: #0090d2;
}

.btn-save {
    color: #ffffff;
    background-color: #5cc571;
    border-color: transparent;
}

.btn-save-outline {
    color: #5cc571;
    background-color: transparent;
    border-color: #5cc571;
}

.btn-save:hover {
    color: #ffffff;
    background-color: #3b7c48;
}

.btn-save-outline:hover {
    color: #5cc571;
    background-color: #5cc571;
    border-color: transparent;
}

.btn-save-and-back {
    color: #ffffff;
    background-color: #39a9da;
    border-color: transparent;
}

.btn-save-and-back-outline {
    color: #39a9da;
    background-color: transparent;
    border-color: #39a9da;
}

.btn-save-and-back:hover {
    color: #ffffff;
    background-color: #277a9f;
}

.btn-save-and-back-outline:hover {
    color: #ffffff;
    background-color: #39a9da;
    border-color: transparent;
}

.btn-delete-outline {
    margin-right: 8px;
}

.btn-delete,
.btn-clear-filter {
    color: #ED5565;
    background-color: #ED5565;
    border-color: transparent;
}

.btn-delete-outline,
.btn-clear-filter,
.btn-clear-filter > i {
    color: #ED5565;
    background-color: transparent;
    border-color: #ED5565;
}

.btn-delete:hover {
    color: #ffffff;
    background-color: #c82333;
}

.btn-delete-outline:hover,
.btn-clear-filter:hover > i,
.btn-clear-filter:hover{
    color: #ffffff;
    background-color: #ED5565;
    border-color: transparent;
}

.btn-generic-action {
    color: #ffffff;
    background-color: #ff9b11;
    border-color: transparent;
}

.btn-generic-action-outline {
    color: #ff9b11;
    background-color: transparent;
    border-color: #ff9b11;
}

.btn-generic-action:hover {
    color: #ffffff;
    background-color: #ad6703;
}

.btn-generic-action-outline:hover {
    color: #ffffff;
    background-color: #ff9b11;
    border-color: transparent;
}

.btn-back {
    color: #ffffff;
    background-color: #525f5d;
    border-color: transparent;
}

.btn-back-outline {
    color: #525f5d;
    background-color: transparent;
    border-color: #525f5d;
}

.btn-back:hover {
    color: #ffffff;
    background-color: #2a302f;
    border-color: transparent;
}

.btn-back-outline:hover {
    color: #ffffff;
    background-color: #2a302f;
    border-color: #525f5d;
}

.dv-btn-back {
    justify-content: flex-start;
}

.dv-btn-actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.dv-btn-crud {
    display: flex;
}

.div-logo-login{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.login_logo {
    width: 200px;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.div_login_logo_w {
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 12px;
}

.div_login_logo_w > div {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: center;
    padding-left: .25rem;
    padding-right: .25rem;
    justify-content: space-between;
}

.div_login_logo_w > div > p > span {
    font-weight: bold;
    margin-left: 4px;
}

.div_login_logo_w > div > p {
    margin-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.gw-login {
    width: 40px;
    height: 40px;
}

.header-default {
    background-color: #ffffff;
}

.header-logo {
    width: 100px;
    height: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-hamburguer > a {
    color: #C6C9CE;
    font-size: 25px;
    padding-left: 25px;
}

.header-hamburguer > a > i {
    margin-top: 25px;
}

.header-welcome {
    font-size: 15px;
    font-weight: bold;
    padding-top: 28px;
}

.page-heading {
    border-top: 0;
    padding: 0 10px 20px 10px;
    background-color: #D4DCDF;
}

.breadcrumb {
    background-color: #D4DCDF;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-right: 13px;
}

.page-title {
    background-color: #D4DCDF;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 30px;
}

.action-area {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    background-color: #ffffff;
    border: none;
    border-bottom: 0;
    padding: 10px 10px 10px 10px;
}

.button-area {
    padding: 10px;
}

.filter-area {
    padding: 10px;
}

.filter-input {
    height: 33px;
}

.pagination {
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    vertical-align: middle;
}

#ms-user-permissions,
#ms-profile-permissions {
    width: 100%;
}

.ms-optgroup-label > span {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: none;
    color: #6f6e6e;
    font-weight: bold;
}

div.modal-footer > button.btn.btn-save,
div.modal-footer > button.btn.btn-delete,
div.modal-footer > a.btn.btn-outline {
    min-width: 85px;
}

.title-home {
    color: #00995D !important;
}

.modal-title {
    font-size: 15px;
}

.color-status-inactive {
    color: #d9534f;
}

.color-status-pendent {
    color: #f89406;
}

.color-status-active {
    color: #449d44;
}

.navbar-static-side > .sidebar-collapse > .nav.metismenu > li > a i {
    width: 20px;
    margin: 0 !important;
    padding: 0;
    text-align: center;
    margin-right: 20px !important;
}

.form-control.filter-select {
    background: #fff;
    -webkit-appearance: none;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' data-prefix='fas' data-icon='chevron-down' class='svg-inline--fa fa-chevron-down fa-w-14' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M207.03 381.48L12.69 187.13a24 24 0 010-33.94l22.66-22.67a24 24 0 0133.9-.04L224 284.51l154.75-154.03a24 24 0 0133.9.04l22.66 22.67a24 24 0 010 33.94L240.97 381.48a24 24 0 01-33.94 0z'/%3E%3C/svg%3E");
    background-position: calc(100% - 8px);
    background-size: 10px;
    background-repeat: no-repeat;
}

select {
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' data-prefix='fas' data-icon='chevron-down' class='svg-inline--fa fa-chevron-down fa-w-14' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M207.03 381.48L12.69 187.13a24 24 0 010-33.94l22.66-22.67a24 24 0 0133.9-.04L224 284.51l154.75-154.03a24 24 0 0133.9.04l22.66 22.67a24 24 0 010 33.94L240.97 381.48a24 24 0 01-33.94 0z'/%3E%3C/svg%3E");
    background-position: calc(100% - 8px);
    background-size: 10px;
    background-repeat: no-repeat;
}

.sweet-alert {
    z-index: 2002 !important;
}

.pointer {
    cursor: pointer;
}

.action-login,
.action-forgot-password{
    flex-direction: row;
}