
.betterbaby {
    background-repeat: no-repeat;
    background-image: url("../images/logo.png");
    background-color: #ffffff;
}

.betterbaby-horizontal{
    background-repeat: no-repeat;
    background-image: url("../images/logo.png");
    background-color: #ffffff;
}