@media (max-width: 768px) {
    input{
        height: 40px;
    }
    .header-logo {
        width: 60px;
        height: 50px;
    }

    .body-small.mini-navbar .navbar-static-side {
        max-height: 100vh;
        height: 100vh;

        position: fixed !important;
        width: 100vw;
        transition: background 300ms;
        background: rgba(0, 0, 0, 0.17);
    }

    .body-small.mini-navbar .navbar-static-side > .sidebar-collapse {
        /* background: #2F4050; */
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-top: 0 !important;
    }

    .body-small.mini-navbar .navbar-static-side > .sidebar-collapse .nav.metismenu {
        width: 200px;
        background: #333333FF;
        padding-bottom: 80px;
        min-height: 100vh;
        align-items: flex-start;
        align-content: flex-start;
    }

    .body-small.mini-navbar .navbar-static-side > .sidebar-collapse > .nav.metismenu > li > a {
        padding: 10px 20px;
    }

    .body-small.mini-navbar .navbar-static-side .nav-label {
        display: inline;
        font-size: 14px;
    }

    body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li > .nav-second-level {
        left: 196px;
        border-radius: 0;
        padding: 0px;
    }

    body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li > .nav-second-level li > a {
        padding: 12px;
        font-size: 14px;
    }

    body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li.active > .nav-second-level {
        display: block;
        border-radius: 0;
        padding: 0px;
        min-width: 160px;
        height: auto;
    }

    .navbar.navbar-static-top .navbar-header {
        display: flex;
        flex: 1;
    }

    .navbar.navbar-static-top .navbar-header .row {
        flex: 1;
    }

    body.mini-navbar #page-wrapper {
        margin: 0;
    }

    .menu-close-mobile {
        position: absolute;
        top: 18px;
        right: 9px;
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    .body-small.mini-navbar .nav.navbar-top-links.navbar-right .header-hamburguer {
        visibility: hidden;
        opacity: 0;
    }


    h2 {
        font-size: 20px;
    }

    .breadcrumb {
        background-color: #D4DCDF;
        display: flex;
        padding-bottom: 10px;
        padding-right: 13px;
        font-size: 11px;
        padding-left: 13px;
        justify-content: flex-start;
    }

    .page-title {
        background-color: #D4DCDF;
        padding-left: 25px;
        padding-right: 30px;
        padding-bottom: 0px;
    }

    .header-welcome {
        display: none;
    }

    .header-welcome-mobile {
        display: flex;
        font-size: 15px;
        font-weight: bold;
        align-items: center;
        padding-top: 0;
    }

    .dv-btn-actions {
        display: block;
        margin-bottom: 5px;
    }

    .dv-btn-actions > .dv-btn-actions {
        display: flex;
    }

    .dv-btn-actions > button,
    .dv-btn-actions > a {
        margin-bottom: 10px;
    }

    .form-fields {
        padding: 20px 10px 0px;
    }

    .form-footer {
        position: initial;
    }

    .btn {
        height: 40px;
    }

    .btn-generic-action,
    .btn-save-and-back,
    .btn-delete,
    .btn-back,
    .btn-save,
    .btn-delete-outline {
        width: 100%;
        max-width: unset;
        margin-right: 0px;

    }

    .dv-btn-back > a > i,
    .dv-btn-actions > a > i,
    .btn-clear-filter > a > i {
        margin-top: 6px;
    }

    .btn-new-users > i,
    .btn-clear-filter > i {
        margin-top: 10px;
    }

    .dv-filter{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
    }

    select.form-control:not([size]):not([multiple]),
    .input-daterange,
    .input-daterange > input,
    .filter-input {
        height: 40px;
    }
    .pagination {
        justify-content: flex-start;
        margin-left: 1px;
    }

    .pagination > li,
    .pagination > li > a,
    .pagination > li > span {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .action-login,
    .action-forgot-password{
        flex-direction: column-reverse;
    }

    .forgot-password{
        text-align: right;
    }
}

@media (min-width: 768px) and (max-width: 768px) {
    /* fix devido ao d-ms-block e d-ms-none*/
    .body-small.mini-navbar .navbar-static-side {
        top: 62px;
        min-height: calc(100vh - 62px);
        position: absolute !important;
        background: transparent;
    }

    .body-small.mini-navbar .navbar-static-side > .sidebar-collapse .nav.metismenu {
        height: 100%;
        align-items: flex-start;
        align-content: flex-start;
        padding-bottom: 0;
    }
}